opencv-python 
librosa
dataclasses 
ffmpeg-python 
tqdm 
trimesh 
matplotlib==3.1.1 
gdown
smplx==0.1.28
numpy==1.23.5
chumpy
prettytable
einops
pandas
blobfile 
accelerate==0.18.0
wandb
setuptools==59.5.0 